
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 86px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s-main {
    ul {
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin-bottom: 10px;
      }
    }
  }

  .s-advantages {
    .advantage {
      &__title {
        font-size: 24px;
      }
    }
  }

}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .triangle {
    display: none;
  }

  .triangle2 {
    display: none;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }      
  }

  .s-main {
     &__title {
       font-size: 24px;
     }

     &__text {
       font-size: 16px;
     }

     ul {
       margin-bottom: 30px;
       li {
         font-size: 14px;
       }
     }

     .form {
       &__title {
         font-size: 18px;
       }

       &__affix {
         a {
           display: block;
           margin-left: 0;
         }
       }

       .button {
         width: 100%;
       }
     }
  }

  .s-product {

    &__content {
      display: none;
    }

    .carousel-brend {
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .s-dostavka {
    .dostavka {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 15px;
    }
  }

  .s-klient {
    .section-title {
      color: #fff;
    }
    .carousel-klient {
      margin-bottom: 20px;
    }
  }


  .s-contact {
    .contact {
      position: static;
      margin: 15px auto;
      width: auto;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .form {
    padding: 10px;
    &--vertical {
      .form__content {
        width: auto;
      }
    }
  }

  .header {
    &__title {
      display: none;
    }
  }

  .section {
    &-title {
      font-size: 18px;
    }
  }

  .s-main {
    &__title {
      font-size: 20px;
    }

    &__text {
      text-align: left;
      margin-bottom: 15px;
    }

    ul {
      display: block;
    }

    .form {
      padding: 10px 10px 50px;
    }
  }

  .s-product {
    .form {
      padding: 10px;
    }
  }

  .s-advantages {
    .advantage {
      margin-bottom: 20px;
    }
  }

  .s-contact {
    .contact {
      padding: 15px;
    }
  }

  .s {
    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .more-modal {
    padding: 10px;

    .form {
      margin: 0 -10px -10px;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}